*~
*.a
*.ascii
bin/history.lsp
bin/lisp.linenoise
bin/test
CMakeCache.txt
CMakeFiles
CMakeFiles/*
core
*.core
*.d
*.db
*.def
*.diff
*.dll
doc/htm/
doc/htm/*
doc/latex/
doc/latex/*
doc/man/
doc/man/*
doc/rtf/
doc/rtf/*
doc/xml
doc/xml/*
Doxyfile
Doxyfile.bak
doxygen/
doxygen/*
*.gcda
*.gcno
*.gcov
gcov.vim
hist.lsp
history.lsp
*.htm
html
*.html
html/*
*.i
latex
latex/*
lisp
*.lisp
.list
*.log
*.o
*.out
*.patch
*.profile
*.s
*.so
src/*~
*.swo
*.swp
tags
*.tar
*.tar.gz
*.tgz
