*.swp
*.swo
*.o
*~
src/*~
*.ascii
*.log
lisp
*.gcov
*.gcda
*.gcno
gcov.vim
*.html
*.htm
*.i
*.s
doc/htm/
doc/htm/*
doc/latex/
doc/latex/*
doc/xml/*
doc/xml
doc/rtf/*
doc/rtf/
doc/man/
doc/man/*
*.out
